<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Santos | Face Recognition API </title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ea1304e71.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head> 
<body class = "bg-white">
    

    <nav>
        <div class="logo">
            <img src="/images/2.png" height="100px" alt="">
        </div>
        <div class="menu">
            <ul>
                <li> <i class="far fa-cog"></i>  </li>
                <li> <i class="far fa-bell"></i> </li>
                <li> <i class="far fa-user-circle"></i> </li>
            </ul>
        </div>
    </nav>

    <!-- <h1 id = "name"> Identificando... </h1>-->
    <header id = "header">
        <img src="http://research.uninta.edu.br/ecossistema/vendor/images/logo.png" height = "100px" alt="">
        <h1>ECOSSISTEMA DE APRENDIZAGEM AIAMIS</h1>
        <p>Para conectar pessoas e formar comunidades de práticas</p>
    </header> 
    <section id = "section">
        <div class="present">
            <h1>Seja bem vindo!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
    <aside>
        <h1>APRESENTAÇÃO</h1>
        <button id = "start">Começar</button>
        <button id = "start">Encerrar</button>
    </aside>
    <main>     
        <video src="" autoplay id = "cam" width="720" height="640" muted></video>    
        <div class="top">
            <div class="title">
                <h1 id = "candidate">NOME DO CANDIDATO</h1>
                <p>Descrição breve do trabalho</p>
            </div>
            <div class="timer">
                <h1 id = "timer">15 MIN</h1>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="mapa">
            <h1>O mapa do site foi elaborado de acordo com o referencial teórico:</h1>
            <p>Georgouli, Katerina & Skalkidis, Ilias & Guerreiro, Pedro. (2008). A Framework for Adopting LMS to Introduce e-Learning in a Traditional Course. Educational Technology & Society. 11. 227-240. </p>
        </div>
        <div class="about">
            <center>
                <img src="/images/aiamis.png" height="100px" alt="">

                <h1>Ecossistema de Aprendizagem</h1>
                <p>Centro Universitário INTA - UNINTA</p>
            </center>
        </div>

        <div class="contact">
            <h1>Contatos</h1>
            <ul>
                <li>(88) 3112 3500</li>
                <li>(88) 9 9795 2882</li>
                <li> ouvidoria@uninta.edu.br </li>
                <li> Torne-se um polo UNINTA EAD</li>
            </ul>
        </div>


        <div class="link">
            <h1>Canais de Comunicação</h1>
            <p>Siga nossos canais de comunicação</p>
        </div>

        <div class="help">
            <h1>AIAMIS</h1>
        </div>

        <div class="dir">
            <center>
                <p>
                    © Centro Universitário INTA - UNINTA | Todos os direitos reservados - PROEAD - Privacidade e condições de usos. 2019.
                </p>
            </center>
        </div>
        
    </footer>
    <script src="/lib/face-api/face-api.min.js"></script>
    <script src="/js/index.js"></script>


    <style>
		.userway { margin-bottom: 48px !important; right: 16px;}
		</style>
		<script type="text/javascript">
			var _userway_config = {
				account: 'QxicWCMsKX'
			};
		</script>
        <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
        
</body>
</html>