<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Santos | Face Recognition API </title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ea1304e71.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head> 
<body class = "bg-white">
 

    <!-- <h1 id = "name"> Identificando... </h1>-->
    <header>
        <h1>AIAMIS</h1>
        <p>Para formar comunidades de práticas</p>
    </header>
    <section>
        <h1>APRESENTAÇÃO</h1>
        <p>Texto instrutivo para o usuário</p>
    </section>
    <aside>
        <button>Começar</button>
    </aside>
    <main>     
        <video src="" autoplay id = "cam" width="720" height="640" muted></video>    
        <div class="top">
            <div class="title">
                <h1>NOME DO CANDIDATO</h1>
                <p>Descrição breve do trabalho</p>
            </div>
            <div class="timer">
                <h1>15:00:00</h1>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="about">
            <h1>AIAMIS</h1>
            <p>Centro Universitário INTA - UNINTA</p>
        </div>
        
    </footer>
    <script src="/lib/face-api/face-api.min.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>