body {
    margin: 0 auto;
    width: 80vw;
    

    /* background-image: linear-gradient(purple, rgb(194, 44, 129)); */
    background-color: #fff;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: 
        'nav nav nav nav'
        'header header header header'
        'section section section section'
        'aside main main main'
        'aside main main main'
        'footer footer footer footer'
    ;
}

nav {
    grid-area: nav;
    border-radius: none !important;

    display: flex;
    justify-content: space-around;

    border-radius: 0 !important;
    border-bottom: solid 1px #dcdcdc;
    background-color: transparent !important;
}

.present {
    border-left: solid 3px purple;
    padding: 0 0 0 24px;
    background-color: rgb(255, 255, 240);
}
nav ul {
    display: inline-flex;
}
nav ul li {
    
    padding: 12px;
    background-color: #f8f8f8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 6px 0 6px ;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li i {
    font-size: 1.3em;
    color: grey;
}
nav ul li:hover{
    background-color: #cbcaca;
    cursor: pointer;
}

body > * {
    background-color: #f8f8f8;
    align-self: stretch;    
    padding: 12px;
    border-radius: 20px;
}
header { 
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;

    color: white;
    min-height: 30vh;
}

header h1{
    margin-bottom: 0px;
}

section { 
    grid-area: section;
    display: flex;
    flex-direction: column;

    padding: 24px;

    background-color: transparent;
}
canvas {
    position: absolute;
    z-index: 988;
    display: none;
}

main { 
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
}

.top {

    width: 80%;
    height: 100%;
    z-index: 999;
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-start;
}

.top h1 {
    margin-bottom: 0;
}
.top .timer{
    z-index: 999;
    align-items: flex-end;
}

aside { 
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

footer{ 
    min-height: 40vh;
    grid-area: footer;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);

    margin-bottom: 24px;
    background-color: #fff;
    color: purple;
    
    grid-template-areas:  
        'mapa mapa mapa mapa'
        'about help  contact  link '
        'dir dir dir dir'
    ;

}

footer > *{
    padding: 12px;
    width: 80%;
    margin: 0 auto;
}

footer h1 {
    margin-bottom: 0;
}

footer ul {
    padding: 0;
}
footer ul li {
    list-style: none;
    margin-bottom: 12px;
}
.mapa { grid-area: mapa;}
.about { grid-area: about;}
.help { grid-area: help;}
.dir { grid-area: dir;}

button {
    min-width: 90%;
    margin: 12px;
    height: 40px;
    border: none;
    background-color: purple;

    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

video { 
    border-radius: 20px;
    overflow: hidden;
}

/* FONTS AND STUFF */
h1, h2, h3, h4 { font-family: 'Alata', sans-serif; }
p, a, b, ul, li, small, button { font-family: 'Open Sans', sans-serif; }